/* This is the formatting to simulate the appearance of a table for the 
draggable list. */
.grid-container {
  display: table;
  width: 100%;
  border: none;
  cursor: move;
  font-size: 18px;
}

p.topBorder {
  border-top: 3px solid black;
  margin-top: -0.95em;
}

.grid-containerHdr {
  display: table;
  width: 100%;
  margin-bottom: -16px;
  border: none;
 font-size: 18px;
}

.baseSort {
  padding: 0px 3px 0px 5px; 
  text-align: left;
  background-color: #fff;
  word-break: break-all;
  hyphens: auto;
  display: table-cell;
}

.menuIdBody {
  width: 17%;
  border-left: 3px solid black;
  border-bottom: 1px solid black;
}

.menuIdHdr {
  font-weight: bold;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}

.menuTitleBody {
  width: 17%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.menuTitleHdr {
  font-weight: bold;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}

.menuParentIdBody {
  width: 17%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.menuParentIdHdr {
  font-weight: bold;
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}


.menuArgBody {
  width: 47%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 3px solid black;

}


.menuArgHdr {
  font-weight: bold; 
  border-left: 1px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 2px solid black;
}

.listItem {
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
 
}

.inputFile { 
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden; 
    position: absolute; 
    z-index: -1; 
}

a:hover{
  background-color: #c0c0c0;
}


* {
    box-sizing: border-box;
}


ul.order {  /* Set up a list with no indent and no first character to make sortable table appearance */ 
    list-style-type: none;
    margin-left: 0; 
    padding-left: 0;
    margin-bottom: 15px;
}



#alertBox {
	position: relative;
	width: 1000px;
	min-height: 100px;
	margin-top: 50px;
	border: 1px solid #666;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 20px 30px;
}
